node_modules/
dist/
coverage/
.pnpm-store/
.env
*.log
.DS_Store
dev/bin/
/*.zip

infrastructure/mosquitto/data/*
infrastructure/mosquitto/log/*
infrastructure/timescaledb/data/*
!infrastructure/mosquitto/data/.gitkeep
!infrastructure/mosquitto/log/.gitkeep
