node_modules/
dist/
coverage/
.pnpm-store/
.env
*.log
*-old.*
.DS_Store
dev/bin/
/*.zip
tmp/
mosquitto.db
data/app

!data/mosquitto/data/.gitkeep
!data/mosquitto/log/.gitkeep

# Mosquitto runtime data
infrastructure/mosquitto/data/
infrastructure/mosquitto/log/