SENSORSPHERE_ENVIRONMENT=DIT
SENSORSPHERE_PROJECT_TODOS_ENABLED=false
INSTANCE_NAME=SensorSphere
SENSORSPHERE_IMAGE_REGISTRY=ghcr.io
SENSORSPHERE_IMAGE_NAMESPACE=sensorsphere

POSTGRES_DB=sensorsphere
POSTGRES_USER=sensorsphere
POSTGRES_PASSWORD=CHANGE_ME

DATA_ROOT=./data
MQTT_BIND_ADDRESS=0.0.0.0
MQTT_PORT=1883
WEB_BIND_ADDRESS=0.0.0.0
WEB_PORT=8080

TIMESCALEDB_IMAGE_TAG=2.21.3-pg17
MOSQUITTO_IMAGE_TAG=2
